.Main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 120px;
  left: 3%;
  height: calc(85% - 60px);
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(4px);
}
.Shop-Right{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: auto;
  top: 2%;
}
.Shop-Text{
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #b4a9a9;
}
.Shop-Description{
  position: relative;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  z-index: 2;
  background-color: #b4a9a9;
  border-radius: 20px;
}
.Shop-Art{
  display: flex;
  position: relative;
  top: 6%;
  width: 50%;
  height: 90%;
  border-radius: 20px;
  background-color: #b4a9a9;
}
.Shop-Buy{
  position: relative;
  top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 30px;
  background-color: #b4a9a9;
  border-radius: 20px;
}
.background-Fa-Shop-Shop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2%;
  width: 20%;
  height: 90%;
  background-color: #282936;
  border-radius: 20px;
}
.background-price-Shop{
  position: relative;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  background-color: #282936;
  border-radius: 20px;
}
.Right-About-Us{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 120px;
  right: 3%;
  width: 30%;
  height: calc(85% - 60px);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.scrol-text{
  position: relative;
  top: 6%;
  display: flex;
  width: 80%;
  height: 20%;
  background-color: #b4a9a9;
  border-radius: 20px;
}
.Animation-Infinite{
  position: relative;
  top: 6%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 5%;
}
.row1{
  position: relative;
  font-size: 30px;
  color: white;
  animation: row1-anim 6s linear infinite ;
}
.row2{
  position: relative;
  top: 100%;
  right: 0;
  font-size: 30px;
  color: white;
  animation: row2-anim 6s linear infinite ;
}

@keyframes row1-anim{
  0%{
    left: 0%;
  }
  
  50%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}

@keyframes row2-anim{
  0%{
    right: 0%;
  }
  50%{
    right: 100%;
  }
  100%{
    right: 0%;
  }
}