
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Circle{
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(4px);
  border-radius: 40px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inputBx{
  display: flex;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #282936, #b4a9a9);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}
/*.links{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 40px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #282936;
  border-radius: 20px;
  border: 2px solid #282936;
  color: #b4a9a9;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.links:active{
  box-shadow: 0 0 10px rgb(69, 73, 124);
}
.links:hover{
  color: #fff;
  text-shadow: 0px 0px 5px;
  border-color: rgb(69, 73, 124);
  box-shadow: 0 0 20px rgb(69, 73, 124);
}*/