
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Circle{
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(4px);
  border-radius: 40px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 20px;
}
.inputBx{
  display: flex;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #282936, #b4a9a9);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}
.Btn-Home{
  position: relative;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  padding: 5px;
  color: #b4a9a9;
  background-color: #282936;
  border-radius: 12px;
}
.btn-home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  animation: btn-home-animation 1s ease-in-out forwards;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes btn-home-animation{
0%{
transform: translatey(-15px);
color: #fff;
text-shadow: 0px 0px 10px;
}
10%{
transform: translatey(0px);
color: #fff;
text-shadow: 0px 0px 10px;
}
40%{
  opacity: 0;
}
60%{
  opacity: 1;
  color: #fff;
  text-shadow: 0px 0px 10px;
}
80%{
  color: #fff;
  text-shadow: 0px 0px 10px;
}

}
.Btn-Home:hover span:nth-child(1){
  animation: btn-home-animation 1s ease-in-out forwards 0.2s;
}
.Btn-Home:hover span:nth-child(2){
  animation: btn-home-animation 1s ease-in-out forwards 0.4s;
}
.Btn-Home:hover span:nth-child(3){
  animation: btn-home-animation 1s ease-in-out forwards 0.6s;
}
.Btn-Home:hover span:nth-child(4){
  animation: btn-home-animation 1s ease-in-out forwards 0.8s;
}

@media all and (max-width:500px) {
  .Circle{
    width: 300px;
    height: 300px;
    padding: 10px;
    left: calc(50% - 170px);
  }
  .Btn-Home{
    width: 70px;
    font-size: 25px;
  }
}