.Main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 140px;
  left: 3%;
  height: calc(85% - 60px);
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  animation: chengePageOpacity 3s ease forwards;
}
@keyframes chengePageOpacity {
  0% { 
      opacity: 0; 
  }
  60% {
       opacity: 1; 
  }
  80%{
    opacity: 1;
  }
    }
.Shop-Right{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: auto;
  top: 2%;
}
.Shop-Text{
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right, #948E99, #2E1437);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Shop-Description{
  position: relative;
  top: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  z-index: 2;
  background-color: #282936a8;  
  border-radius: 20px;
}                 
.DescriptionText{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #88838d, #5b286e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Character{
  font-size: 30px;
  text-align: center;
}
.Materials{
  font-size: 18px;
}
.Shop-Art{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6%;
  
  width: 60%;
  height: 90%;
  border-radius: 20px;
}
.Shop-Art img{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.Shop-Buy{
  position: relative;
  top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 8%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 30px;
  background-color: #282936a8;  
  border-radius: 20px;
}
.background-Fa-Shop-Shop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2%;
  width: 20%;
  height: 90%;
  background: linear-gradient(to right, #34508d, #512261);
  border-radius: 20px;
}
.Fa-Shop-Shop{
  background: linear-gradient(to right, #7e7e7e, #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.background-price-Shop{
  position: relative;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90%;
  border-radius: 20px;
}
.price{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right, #34508d, #512261);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Right-About-Us{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 140px;
  right: 3%;
  width: 30%;
  height: calc(85% - 60px);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.scrol-text{
  position: relative;
  top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20%;
  font-size: 34px;
  font-weight: bold;
  background-color: #282936a8;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  animation: chengePageDown 3s ease-in-out forwards;

}
.Text-scrolColor{
  position: relative;
  display: flex;
  top: 4%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #948E99, #2E1437);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.Title-Text-Scrol{
  display: flex;
  font-size: 35px;
}
.dinamicText{
  background: linear-gradient(to right, #88838d, #5b286e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  text-align: center;
  animation: textAnim 5s ease-in-out infinite;

}

@keyframes textAnim{
  0% { 
    transform: translateY(30%);
    opacity: 0;
  }
  30%{
    transform: translateX(0);
  }
  40%{
    opacity: 1; 
  }
  90%{
    transform: translateX(0);
    opacity: 1;
  }
  95%{
    opacity: 0;
  }
  100% { 
    transform: translateY(50%);
    opacity: 0; 
  }
  }
.Animation-Infinite{
  position: relative;
  top: 7%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 5%;
}
.Image-scroll{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
  width: 80%;
  height: 55%;
  border-radius: 20px;
  animation: imgAnimation 5s ease-in-out infinite;
}

.Image-scroll {
  overflow: hidden;
}

.Image-scroll img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}


@keyframes imgAnimation{
0% { 
  transform: translateX(-30%);
  opacity: 0;
}
20%{
  transform: translateX(0);
}
40%{
  opacity: 1; 
}
90%{
  transform: translateX(0);
  opacity: 1;
}
95%{
  opacity: 0;
}
100% { 
  transform: translateX(-30%);
  opacity: 0; 
}
}
@media all and (max-width:430px){
.Right-About-Us{
  display: none;
}
.Main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 15%;
  width: 100%;
  height: auto;
  left: 0;
}
.Shop-Text{
  font-size: 25px;
}
.Shop-Description{
  width: 200%;
  height: 300px;
}
.Character{
  font-size: 22px;
}
.Materials{
  font-size: 20px;
}
.Shop-Buy{
  top: 15px;
  width: 200%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}
.price{
  font-size: 25px;
}
.background-Fa-Shop-Shop{
  width: 18%;
}
.Fa-Shop-Shop{
  font-size: 20px;
}
.changeLanguage{
  top: 2.5%;
}
}
@media all and (min-width: 431px) and (max-width: 768px){
  .Right-About-Us{
    display: none;
  }
  .Main{
    width: 90%;
  }
  .Shop-Buy{
    font-size: 23px;
    gap: 0;
  }
  .background-Fa-Shop-Shop{
    right: -10px;
  }
  .Shop-Text{
    font-size: 40px;
  }
  .Character{
    font-size: 25px;
  }
  .Materials{
    font-size: 17px;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px){
  .Text-scrolColor{
    gap: 0;
  }
  .Title-Text-Scrol{
  font-size: 35px;
}
.dinamicText{
  font-size: 23px;
}
.Shop-Buy{
  font-size: 20px;
  gap: 0;
}
.background-Fa-Shop-Shop{
  right: -14px;
  padding: 2px;
}
}